@charset "UTF-8";

// My variable overrides
// =============================================================================

// Major breakpoints
$small-screen-up: 481px;
$medium-screen-up: 768px;
$large-screen-up: 960px;
$small-screen: 480px;
$medium-screen: 767px;
$large-screen: 959px;

// Colors
$primary-color: #2196F3;
$text-color: #212529;

// Footer
$footer-copyright-bg-color: #fff;

// Inputs
$input-font-size: 16px;
$input-height: 5rem;

// Cards
$card-link-color: $primary-color;

// Materialize
// =============================================================================

@import "components/color-variables";
@import "components/color-classes";
@import "components/variables";
@import "components/normalize";
@import "components/global";
@import "components/grid";
@import "components/transitions";
@import "components/cards";
@import "components/tooltip";
@import "components/buttons";
@import "components/waves";
@import "components/forms/forms";

// Reset
// =============================================================================

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

// Global
// =============================================================================

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  background: #f8f9fa;
  color: $text-color;
}

ul {
  list-style-type: none;
}

main {
  margin-top: 50px;
}

.container {
  max-width: 960px;
  width: 90%;
}
@media #{$medium-and-up} {
  .container {
    width: 90%;
  }
}
@media #{$large-and-up} {
  .container {
    width: 90%;
  }
}

.section-title-underline {
  background: $primary-color;
  width: 60px;
  height: 5px;
  border: none;
  margin-bottom: 32px;
  margin-top: 0;
}

.section-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.8rem;
  font-weight: 900;
  margin-bottom: 16px;
  text-align: center;
}

.view-toggle-btn {
  border: 1px #cdcfd2 solid;
  display: block;
  color: $primary-color;
}

.card {
  .card-content .card-title, .card-reveal .card-title {
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
    i {
      line-height: 32px;
    }
  }
  .card-action {
    a {
      display: inline-block;
      width: 32px;
      height: 32px;
      text-align: center;
    }
    i {
      font-size: 20px;
      line-height: 32px;
    }
  }
  .card-image {
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
  }
}

a {
  color: $primary-color;
}

.material-tooltip {
  font-size: 1.6rem;
}

// Preloader
// =============================================================================

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  background: #f8f9fa url('../media/preloader.svg') no-repeat center center;
  background-size: 100px 100px;
  width: 100%;
  height: 100%;
  z-index: 10000;
  overflow: hidden;
}

// Parallax 
// =============================================================================

.parallax-wrapper {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  overflow: hidden;
}

.parallax {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 750px;
  width: 100%;
  background-color: #1d1d1b;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto/v1547422608/msof.me/bg.jpg");
}

// Back to top
// =============================================================================

.back-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: $primary-color !important;
  z-index: 1000;
}



// Header
// =============================================================================

header {
  padding-top: 20px;
  nav {
    height: 48px !important;
    line-height: 48px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1000;
  }
}

.logo img {
  height: 48px;
}

.hamburger-btn {
  background: transparent;
  padding: 0;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  font-size: 25px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.hamburger-btn:focus {
  background: transparent;
}

.menu-wrapper {
  .table-of-contents {
    list-style: none;
    white-space: nowrap;
    display: none;
    background: $primary-color;
    width: 48px;
    li {
      width: 48px;
      height: 48px;
      &:first-child {
        display: none;
      }
      a {
        display: inline-block;
        width: 48px;
        height: 48px;
        font-size: 25px;
        text-align: center;
        line-height: 48px;
        color: $text-color;
      }
    }
  }
}

// Class applied to active sidebar elements
.scrollspy-active-element, .scrollspy-focus-element  {
  background: #fff;
}

// Profile
// =============================================================================

.profile {
  position: relative;
}

.profile-description {
  background: #fff;
  padding: 30px 20px 30px 20px;
}

.profile-name {
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 1.25;
  text-align: center;
}

.profile-position {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

.profile-summary {
  font-size: 1.6rem;
  text-align: center;
  margin: 15px 0;
  a {
    color: $primary-color;
    transition: color .2s ease-in-out;
  }
  a:hover {
    color: $text-color;
  }
}

.profile-cta {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  .contact-btn {
    background: $primary-color;
    border: 1px solid $primary-color;
    margin-right: 5px;
    color: #fff;
    transition: color .2s ease-in-out, background-color .2s ease-in-out, border .2s ease-in-out;
    &:hover, &:focus {
      background: transparent;
      color: $primary-color; 
      border: 1px solid $primary-color;
    }
  }
  .resume-btn {
    border: 1px solid $text-color;       
    color: $text-color;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
    &:hover, &:focus {
      background: $text-color;
      color: #fff;     
    }
  }
}

.thematic-break {
  border: 0;
  height: 0;
  border-top: 1px #cdcfd2 solid;
  margin: 0;
}

.profile-details {
  margin-top: 15px;
  .fas, .fab {
    font-size: 1.4rem;
  }
  a {
    color: $primary-color;
    transition: color .2s ease-in-out;
  }
  a:hover {
    color: $text-color;
  }
  li {
    font-size: 1.4rem;
    margin-bottom: 15px;
  }
  li:last-child {
    margin-bottom: 0;
  }
}

.profile-social {
  padding: 15px 0;
  background: $primary-color;
  ul {
    text-align: center;
    li {
      display: inline-block;
      margin: 0 5px;
      a {
        width: 48px;
        height: 48px;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        transition: transform .2s ease-in-out;
        &:hover {
         transform: scale(1.1);
        }
        i {
          color: #fff;
          font-size: 2rem;
          line-height: 48px;
        }
      }
    }
  }
}

// About me
// =============================================================================

.about-me {
  padding-top: 35px;
  p {
    margin: 16px 0;
    font-size: 1.6rem;
    display: none;
    text-align: center;
  }
  button {
    margin-top: 20px;
  }
}

// Experience
// =============================================================================

.experience {
  padding-top: 35px;
}

.experience-card {
  padding-left: 72px;
  margin-bottom: 15px;
  font-size: 1.6rem;
  img {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 24px;
    top: 24px;
    display: inline-block;
    overflow: hidden;
  }
}

// Portfolio
// =============================================================================

.portfolio {
  padding-top: 20px;
  button {
    margin-top: 15px;
  }
}

.project {
  display: none;
}

// Skills
// =============================================================================

.skills {
  padding-top: 35px;
  .skill-chart {
    max-width: 100%;
    width: 100%;
    min-height: 240px;
  }
}

// Education
// =============================================================================

.education {
  padding-top: 35px;
}

.education-card {
  padding-left: 72px;
  font-size: 1.6rem;
  margin-bottom: 15px;
  img {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 24px;
    top: 24px;
    display: inline-block;
    overflow: hidden;
  }
  .card-reveal {
    .card-title {
      &:nth-of-type(2) {
        margin-top: 16px;
      }
    }
  }
}

// Online Courses
// =============================================================================

.online-courses {
  padding-top: 20px;
  button {
    margin-top: 25px;
  }
}

.online-course-card {
  display: none;
  margin-bottom: 15px;
  padding-left: 72px;
  font-size: 1.6rem;
  img {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 24px;
    top: 24px;
    display: inline-block;
    overflow: hidden;
  }
}

// Interests
// =============================================================================

.interests {
  padding: 35px 0;
  img {
    width: 48px;
    border: 1px solid #cdcfd2;
    border-radius: 2px;
    padding: 1rem;
    box-sizing: content-box;
    transition: transform .2s ease-in-out;
    &:hover, &:active, &:focus {
      transform: scale(1.1);
    }
  }
}

// Contact
// =============================================================================

.contact {
  padding: 35px 0 40px 0;
  li {
    cursor: pointer;
    &:hover .contact-icon {
      background: $primary-color;
    }
    &:last-child .contact-link-item {
      margin-bottom: 0;
    }
    .contact-link-item {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;
      strong {
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1;
        color: #fff;
      }
      .contact-icon {
        transition: background-color .2s ease-in-out;
        font-size: 2rem;
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 10px;
        line-height: 1.4;
        margin-right: 15px;
        color: #fff;
      }
      .contact-link-item-name {
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
  button {
    margin-top: 20px;
    margin-bottom: 56px;
    background: $primary-color;
    color: #fff;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
    &:hover, &:focus {
      background: #fff;
      color: $text-color;
    }
  }
}

input, textarea {
  color: #fff;
}

/* label color */
.input-field > label {
  color: #fff;
  font-size: 1.6rem;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  // Focused input style
  &:focus:not([readonly]) {
    border-bottom: 1px solid $primary-color;
    box-shadow: 0 1px 0 0 $primary-color;
  }
  // Focused label style
  &:focus:not([readonly])+label {
    color: $primary-color;
  }
}

// Footer
// =============================================================================

.page-footer {
  padding-top: 0 !important;
  .footer-copyright {
    font-size: 1rem;
  }
  a {
    display: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

// Helpers
// =============================================================================

.mb-0 {
  margin-bottom: 0 !important;
}

.m-0 {
  margin: 0;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.text-muted {
  color: #6c757d !important;
}

.text-center {
  text-align: center;
}

.d-block {
  display: block;
}

// CSS animations
// =============================================================================

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.slideInDown {
  animation-name: slideInDown;
}

.slideInUp {
  animation-name: slideInUp;
}

@keyframes slideInDown {
  0% {
    transform: translate3d(0,-200%,0);
    visibility: visible;
  }
  100% {
    transform: translateZ(1);
  }
}

@keyframes slideInUp {
  0% {
    transform: translate3d(0,50px,0);
    visibility: visible;
  }
  100% {
    transform: translateZ(1);
  }
}

// Media queries
// =============================================================================

/* Major breakpoints */
@media #{$medium-and-up} {
  .contact li .contact-link-item strong {
    font-size: 1.6rem;
  }
  .contact li .contact-link-item .contact-link-item-name {
    font-size: 1.2rem;
  }
  .page-footer .footer-copyright {
    font-size: 1.4rem;
  }
  .profile-details {
    .fas, .fab, li {
      font-size: 1.6rem;
    }
  }
}

@media #{$large-and-up} {
  .profile-name, .profile-position, .profile-summary {
    text-align: left;
  }
  .profile .profile-box .profile-description .profile-cta {
    text-align: left;
  }
  .contact {
    button {
      margin-bottom: 0;
    }
  }
  .about-me, .experience, .skills, .education {
    padding-top: 60px;
  }
  .portfolio, .online-courses {
    padding-top: 45px;
  }
  .contact, .interests {
    padding: 60px 0;
  }
}

@media only screen and (min-width: 1115px) {
  .page-footer a {
    display: inline-block;
  }
  .menu-wrapper {
    position: fixed;
    top: 118px;
    right: 50%;
    margin-right: -558px;
    .hamburger-btn {
      display: none;
    }
    .table-of-contents {
      display: block;
      li {
        transition: background-color .2s ease-in-out;
        &:hover, &:active {
          background: #fff;
        }
        &:first-child {
          display: block;
        }
      }
    }
  }
}


/* Skills chart */
@media only screen and (min-width: 335px) {
  .skills .skill-chart {
    min-height: 265px;
  }
}

@media only screen and (min-width: 355px) {
  .skills .skill-chart {
    min-height: 285px;
  }
}

@media only screen and (min-width: 375px) {
  .skills .skill-chart {
    min-height: 300px;
  }
}

@media only screen and (min-width: 400px) {
  .skills .skill-chart {
    min-height: 320px;
  }
}

@media only screen and (min-width: 420px) {
  .skills .skill-chart {
    min-height: 340px;
  }
}

@media only screen and (min-width: 440px) {
  .skills .skill-chart {
    min-height: 355px;
  }
}

@media only screen and (min-width: 460px) {
  .skills .skill-chart {
    min-height: 375px;
  }
}

@media only screen and (min-width: 480px) {
  .skills .skill-chart {
    min-height: 395px;
  }
}

@media only screen and (min-width: 505px) {
  .skills .skill-chart {
    min-height: 410px;
  }
}

@media only screen and (min-width: 525px) {
  .skills .skill-chart {
    min-height: 430px;
  }
}

@media only screen and (min-width: 545px) {
  .skills .skill-chart {
    min-height: 465px;
  }
}

@media only screen and (min-width: 590px) {
  .skills .skill-chart {
    min-height: 480px;
  }
}

@media only screen and (min-width: 605px) {
  .skills .skill-chart {
    min-height: 500px;
  }
}

@media only screen and (min-width: 615px) {
  .skills .skill-chart {
    min-height: 520px;
  }
}

@media only screen and (min-width: 630px) {
  .skills .skill-chart {
    min-height: 535px;
  }
}

@media only screen and (min-width: 640px) {
  .skills .skill-chart {
    min-height: 555px;
  }
}

@media only screen and (min-width: 655px) {
  .skills .skill-chart {
    min-height: 570px;
  }
}

@media only screen and (min-width: 665px) {
  .skills .skill-chart {
    min-height: 585px;
  }
}
