// Table of Contents:
//
//  1. xxxxxxx


@charset "UTF-8";


// 1. Variables
// =============================================================================

// Define font families
$font-stack-logotype: 'Abril Fatface', cursive;
$font-stack-primary: 'Raleway', sans-serif;
$font-stack-secondary: 'Montserrat', sans-serif;

// Spacing
$section-spacing-mobile: 50px;
$section-spacing-desktop: 100px;

/* 
 * 1. Visit the color tool page: https://material.io/resources/color/#!/ 
 * 2. Choose a 500 Primary and 500 Secondary color. We'll need the dark variant 
 * of the primary color to create contrast between the contact section and the 
 * top app bar.
 * 3. "On" colors for our chosen colors.
 */

// Primary color and variants
$primary: #2196f3;
$primary-dark: #0069c0;

// Secondary color
$secondary: #9c27b0;

// "On" colors for primary and secondary colors and variants
$on-primary: #000;
$on-primary-dark: #fff;
$on-secondary: #fff;

/* 
 * 4. The baseline background color is #fff. If you wish, use the Material's 
 * grey tonal palette to choose a diffetent color.
 */

$background: #f7f7f7;

/* 
 * 5. The baseline surface color is #fff. If you wish, use the Material's grey
 * tonal palette to choose a diffetent color.
 */

$surface: #fff;

/*
 * 6. Choose your "on" surface colors. Test the contrast of surface and 
 * on-surface colors using  the color contrast tool 
 * (https://contrast-ratio.com/). Achieve a contrast ratio of 4.5 or greater.  
 * 
 */

// "On" colors for surface 
$on-surface-primary: rgba(0,0,0,0.87);
$on-surface-secondary: rgba(0,0,0,0.54);


// 2. Override Materialize variables
// =============================================================================
$button-raised-background: $secondary;
$card-link-color: $secondary;
$card-link-color-light: rgba($on-primary, 0.70);
$radio-empty-color: #fff;
$card-bg-color: $surface;
$secondary-color: $secondary;


// 3. Include parts of Materialize
// =============================================================================

@import "../vendor/materialize-css/sass/components/color-variables";
@import "../vendor/materialize-css/sass/components/variables";
@import "../vendor/materialize-css/sass/components/normalize";
@import "../vendor/materialize-css/sass/components/global";
@import "../vendor/materialize-css/sass/components/grid";
@import "../vendor/materialize-css/sass/components/transitions";
@import "../vendor/materialize-css/sass/components/cards";
@import "../vendor/materialize-css/sass/components/waves";
@import "../vendor/materialize-css/sass/components/sidenav";
@import "../vendor/materialize-css/sass/components/forms/forms";


// 4. Reset CSS 
// =============================================================================

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


// 4. Global styles
// =============================================================================

body {
  font-family: $font-stack-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: $background;
  color: $on-surface-primary;
  overflow-x: hidden;
}

a {
  color: $secondary;
  transition: color .2s ease-in-out;
  text-decoration: none;
  &:hover {
    color: $secondary;
  }
}

.container {
  max-width: 960px;
}

.section {
  padding-top: $section-spacing-mobile;
  padding-bottom: 0;
  &__title {
    position: relative;
    font-family: $font-stack-secondary;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    padding-bottom: 16px;
    margin-bottom: 32px;
    &:after {
      content: '';
      display: inline-block;
      width: 60px;
      height: 3px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: $primary;
    }
  }
}

.card {
  border-radius: 0 16px 0 16px;
  overflow: hidden;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  margin: 0;
  .card-content {
    padding: 0;
    width: 100%;
    outline: none;
    position: relative;
    /*
    // Overlay
    &:before {
      pointer-events: none;
      position: absolute;
      border-radius: 50%;
      opacity: 0;
      content: "";
      background-color: #000;
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      transition: opacity 15ms linear,background-color 15ms linear;
      z-index: 1;
    }
    // Hover state
    &:hover:before {
      opacity: 0.04;
    }
    // Focus state
    &:focus:before {
      opacity: 0.12;
    }
    */
  }
  .card-primary {
    .card-title {
      color: $on-surface-secondary;
      font-weight: 500;
      margin-bottom: 0;
      line-height: 32px;
      font-size: 20px;
      color: $on-surface-primary;
    }
    .card-subtitle {
      color: $on-surface-secondary;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 0;
    }
  }
  .card-secondary {
    padding: 0 16px 16px;
    color: $on-surface-secondary;
    font-size: 14px;
    line-height: 20px;
  }
  .card-action {
    padding: 8px;
  }
  .card-action-links {
    a {
      font-size: 14px;
      margin-right: 8px !important;
      &:last-child {
        margin-right: 0 !important;
      }
    }
  }
  .card-action-icons {
    a {
      margin-right: 0 !important;
    }
  }
  .card-overflow-control {
    position: absolute;
    top: 8px;
    right: 8px;
  }
  .card-reveal {
    padding: 0;
    .card-title {
      color: $on-surface-secondary;
      font-weight: 500;
      margin-bottom: 0;
      line-height: 32px;
      font-size: 20px;
      color: $on-surface-primary;
    }
  }
}

.basic-card {
  @extend .card;
  &__primary {
    padding: 16px;
  }
}

.lead-card {
  @extend .card;
  &__main {
    display: flex;
  }
  &__media {
    display: none;
    flex: 0 0 258px;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media #{$medium-and-up} {
      display: block;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .lead-card__primary {
      padding: 16px;
      .lead-card__title {
        span {
          font-family: $font-stack-secondary;
          color: $primary;
          font-size: 30px;
          font-weight: 500;
          line-height: 1.25;
          display: inline-block;
          opacity: 0;
        }
      }
      .lead-card__subtitle {
        font-family: $font-stack-secondary;
        font-size: 24px;
        font-weight: 400;
        color: $on-surface-primary;
      }
    }
    .lead-card__secondary { 
      font-size: 16px;
      line-height: 24px;
    }
    .lead-card__cta {
      padding: 25px 16px 30px 16px;
    }
    .lead-card__overflow-control {
      top: 11px;
    }
  }
  &__primary {
    padding: 16px;
  }
}

.horizontal-card {
  @extend .card;
  padding-left: 58px;
  &__primary {
    padding: 16px 64px 16px 16px;
  }
  img {
    width: 42px;
    position: absolute;
    left: 16px;
    top: 22px;
    display: inline-block;
    overflow: hidden;
    transition: transform .2s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}

// Outlined buttons
.btn-outlined {
  color: $secondary;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 15px;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  height: 36px;
  border: 1px solid $secondary;
  outline: none;
  user-select: none;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 0 8px 0 8px;
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba($secondary, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 15ms linear, background-color 15ms linear;
    z-index: 1;
  }
  &:hover {
    &:before {
      background-color: rgba($secondary, 0.04);
    }
  }
  &:focus {
    &:before {
      background-color: rgba($secondary, 0.12);
    }
  }
}

// Contained buttons
.btn-contained {
  background-color: $secondary !important;
  color: $on-secondary;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 16px;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  height: 36px;
  border: none;
  outline: none;
  user-select: none;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 0 8px 0 8px;
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba($on-secondary, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 15ms linear, background-color 15ms linear;
    z-index: 1;
  }
  &:hover {
    color: $on-secondary;
    &:before {
      background-color: rgba($on-secondary, 0.08);
    }
  }
  &:focus {
    color: $on-secondary;
    &:before {
      background-color: rgba($on-secondary, 0.24);
    }
  }
}

// Text buttons
.btn-text {
  color: $secondary !important;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 8px;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  height: 36px;
  border: none;
  outline: none;
  user-select: none;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 0 8px 0 8px;
  background-color: transparent !important;
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba($secondary, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 15ms linear, background-color 15ms linear;
    z-index: 1;
  }
  &:hover {
    &:before {
      background-color: rgba($secondary, 0.04);
    }
  }
  &:focus {
    &:before {
      background-color: rgba($secondary, 0.12);
    }
  }
}

// Icon buttons
.btn-icon {
  width: 48px;
  height: 48px;
  padding: 12px;
  font-size: 24px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  background-color: transparent !important;
  i {
    color: $on-surface-secondary;
    display: block;
    font-size: 24px;
  }
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba($on-surface-secondary, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 15ms linear, background-color 15ms linear;
    z-index: 1;
  }
  &:hover {
    color: $on-secondary;
    &:before {
      background-color: rgba($on-surface-secondary, 0.04);
    }
  }
  &:focus {
    color: $on-secondary;
    &:before {
      background-color: rgba($on-surface-secondary, 0.12);
    }
  }
}

.sidenav {
  &__header {
    padding: 16px 16px 20px 16px;
    border-bottom: 1px solid rgba(0,0,0,.12);
  }
  &__image {
    display: block;
    height: 64px;
    width: 64px;
    border-radius: 50%;
  }
  &__title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 20px;
    line-height: 1;
  }
  &__subtitle {
    font-size: .875rem;
    font-weight: 400;
    margin-top: 5px;
    color: rgba(0,0,0,.6);
    line-height: 1;
  }
  &__divider {
    margin: 3px 0 4px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
  }
  &__link {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 500;
    letter-spacing: .0071428571em;
    height: 40px;
    margin: 8px;
    padding: 0 8px;
    color: $on-surface-primary;
    border-radius: 4px;
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba($secondary, 0);
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity 15ms linear, background-color 15ms linear;
      z-index: 1;
    }
    &:hover {
      color: $on-surface-primary;
      &:before {
        background-color: rgba(0, 0, 0, 0.04);
      }
    }
    &:focus {
      &:before {
        background-color: rgba(0, 0, 0, 0.12);
      }
    }
    &.active {
      color: rgba($secondary, 0.87);
      .sidenav__icon {
        color: rgba($secondary, 0.87);
      }
      &:before {
        background-color: rgba($secondary, 0.12);
      }
      &:hover {
        &:before {
          background-color: rgba($secondary, 0.16);
        }
      }
      &:focus {
        &:before {
          background-color: rgba($secondary, 0.24);
        }
      }
      &:active {
        &:before {
          background-color: rgba($secondary, 0.32);
        }
      }
    }
  }
  &__icon {
    color: rgba(0, 0, 0, 0.6);
    margin-right: 32px;
    width: 24px;
    height: 24px;
    font-size: 24px;
  }
  .divider {
    margin: 3px 0 4px;
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,.12);
  }
}

// Waves for icon buttons
.waves-effect.waves-icon-btn .waves-ripple {
  background-color: rgba($on-surface-secondary, 0.16);
}

// Wave for sidenav trigger
.waves-effect.waves-sidenav-btn .waves-ripple {
  background-color: rgba($on-primary, 0.16);
}

// Waves for surfaces
.waves-effect.waves-surface .waves-ripple {
  background-color: rgba($on-surface-primary, 0.16);
}

// Waves for text buttons
.waves-effect.waves-text-btn .waves-ripple {
  background-color: rgba($secondary, 0.16);
}

// Waves for outlined buttons
.waves-effect.waves-outlined-btn .waves-ripple {
  background-color: rgba($secondary, 0.16);
}

// Waves for contained buttons
.waves-effect.waves-contained-btn .waves-ripple {
  background-color: rgba($on-secondary, 0.32);
}

// Highlight color
::selection {
  background-color: $secondary;
  color: $on-secondary;
}

// Scrollbar color
.simplebar-scrollbar:before {
  background-color: $primary;
}


// 6. Helpers
// =============================================================================
.clearfix {
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.text-center {
  text-align: center !important;
}

.text-secondary {
  color: $secondary !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-none {
  display: none !important;
}

.flex-column {
  flex-direction: column !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.ml-auto {
  margin-left: auto;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.overflow-hidden {
  overflow: hidden !important;
} 

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.border {
  border: 1px solid #dee2e6 !important;
}

.border-primary {
  border-color: $primary !important;
}

.border-secondary {
  border-color: $secondary !important;
}


// 7. Header styles
// =============================================================================

.parallax-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  .parallax-container {
    height: 350px;
    img {
      z-index: -1;
    }
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(170deg, $primary, transparent 66%);
    z-index: 0;
  }
}

.top-bar {
  position: relative;
  z-index: 100;
  background: $primary;
  padding: 4px;
  position: fixed;
  width: 100%;
  &__sidenav-trigger {
    @extend .btn-icon;
    i {
      color: $on-primary;
      display: block;
      font-size: 24px;
    }
    &:before {
      background-color: rgba($on-primary, 0);
    }
    &:hover {
      color: $on-primary;
      &:before {
        background-color: rgba($on-primary, 0.04);
      }
    }
    &:focus {
      color: $on-primary;
      &:before {
        background-color: rgba($on-primary, 0.12);
      }
    }
    @media #{$medium-and-up} {
      display: none;
    }
  }
  &__logo {
    width: 48px;
    height: 48px;
    img {
      width: 48px;
      height: 48px;
      filter: drop-shadow(0 2px 2px rgba(0,0,0,0.14)) drop-shadow(0 3px 1px rgba(0,0,0,0.12)) drop-shadow(0 1px 5px rgba(0,0,0,0.2));
      @media #{$large-and-up} {
        filter: none;
        border: 1px solid #dee2e6;
      }
    }
    @media #{$large-and-up} {
      position: absolute;
      top: 63px;
      left: 15px;
      z-index: 1;
    }
  }
  &__logotype {
    color: $on-primary;
    font-family: $font-stack-logotype;
    font-size: 20px;
    font-weight: 500;
    transition: transform .2s ease-in-out;
    padding-left: 20px;
    &:hover {
      color: $on-primary;
    }
    @media #{$medium-and-up} {
      padding-left: 12px;
    }
  }
  &__nav {
    display: none;
    overflow-x: auto;
    ul {
      display: flex;
      align-items: center;
    }
    li {
      display: list-item;
    }
    a {
      color: $on-primary;
      padding: 0 12px;
      &:hover {
        color: rgba($on-primary, 0.70);
      }
    }
    @media #{$medium-and-up} {
      display: block;
    }
  }
  &--fixed {
    transition: box-shadow .2s linear,-webkit-box-shadow .2s linear;
  }
  &--fixed-scrolled {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  }
  @media #{$medium-and-up} {
    padding: 8px 12px;
    min-height: 64px;
  }
}


// 7. Lead styles
// =============================================================================

.lead-section {
  padding-top: 100px;
}


// 8. About styles
// =============================================================================


// 9. Experience styles
// =============================================================================
.experience-section {
  .timeline__box:not(:last-child) {
    margin-bottom: 16px;
  }
}

.timeline {
  position: relative;
  &__box {
    position: relative;
    margin-left: 35px;
    &:before {
      font-family: "Font Awesome 5 Free";
      content: "\f192";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -44px;
      display: block;
      width: 21px;
      height: 21px;
      -webkit-font-smoothing: antialiased;
      text-rendering: auto;
      color: $primary;
      font-size: 21px;
      line-height: 21px;
      z-index: 1;
      background: $background;
    }
    &:not(:last-of-type) {
      .timeline__wrapper {
        &:before {
          content: "";
          display: block;
          width: 3px;
          background-color: $primary;
          position: absolute;
          top: 50%;
          bottom: calc(-50% - 16px);
          left: -35px;
        }
      }
    }
    &:last-child {
      .horizontal-card {
        margin-bottom: 0;
      }
    }
  }
}


// 10. Portfolio styles
// =============================================================================

.projects-section {
  &__title {
    margin-bottom: 32px;
  }
}


// 11. Skills styles
// =============================================================================

.skills-section {
  padding-top: $section-spacing-mobile - 15px;
}

.skills-chart {
  width: 288px;
  height: 288px;
  margin: 0 auto;
  //border:1px solid rgba(0,0,0,0.125);
  //border-radius: 50%;
  @media #{$medium-and-up} {
    width: 510px;
    height: 510px;
  }
  @media #{$large-and-up} {
    width: 695px;
    height: 695px;
  }
}

 
// 12. Education styles
// =============================================================================
.education-section {
  article:not(:last-child) {
    margin-bottom: 16px;
  }
}


// 13. Contact styles
// =============================================================================

.contact-section {
  padding-bottom: $section-spacing-mobile + 15px;
  margin-top: $section-spacing-mobile + 15px;
  background: $primary-dark;
  /*
  .contact-section__left {
    @media #{$large-and-up} {
      padding-left: 0;
    }
  }
  .contact-section__right  {
    @media #{$large-and-up} {
      padding-right: 0;
    }
  }
  */
  &__title {
    color: $on-primary-dark;
    &:after {
      background: $secondary;
    }
  }
  &__text {
    color: $on-primary-dark;
    text-align: left;
    margin-bottom: 32px;
    
  }
}

.form {
  &__submit {
    margin: 30px 0 0 0;
  }
  &__required-text {
    min-height: 18px;
    font-size: 12px;
    color: rgba($on-primary-dark, 0.6);
    margin-bottom: 8px;
  }
  &__consent {
    border: 1px solid $on-primary-dark;
    padding:1rem;
    border-radius: 0 16px 0 16px;
    margin-top:10px;
    span {
      color: $on-primary-dark;
      a {
        color: $secondary;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  border-bottom: 1px solid rgba($on-primary-dark, 0.6);
  // Focused input style
  &:focus:not([readonly]) {
    border-bottom: 1px solid $secondary;
    box-shadow: 0 1px 0 0 $secondary;
  }
  // Focused label style
  &:focus:not([readonly])+label {
    color: $secondary;
  }
}

.input-field.col {
  input {
    height: 34px;
  }
  input, textarea {
    color: $on-primary-dark;
  }
  textarea {
    height: 81px;
    &.valid {
      border-bottom: 1px solid #4caf50;
      box-shadow: 0 1px 0 0 #4caf50;
    }
    &.invalid {
      border-bottom: 1px solid #f44336;
      box-shadow: 0 1px 0 0 #f44336;
    }
  }
  label {
    font-size: 16px;
    top: -5px;
    color: rgba($on-primary-dark, 0.6);
  }
}

.contact-links {
  background-color: #fff;
  border-radius: 0 16px 0 16px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  &__title {
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 72px;
    color: $on-surface-primary;
  }
  &-list {
    &__divider {
      height: 0;
      margin: 0;
      border: none;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: rgba(0,0,0,.12);
    }
    &-item {
      height: 72px;
      display: flex;
      position: relative;
      &__link {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 16px;
        z-index: 1;
        &:before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background-color: rgba($on-surface-primary, 0);
          position: absolute;
          top: 0;
          left: 0;
          transition: opacity 15ms linear, background-color 15ms linear;
          z-index: 1;
        }
        &:hover {
          i {
            background-color: $secondary;
          }
          &:before {
            background-color: rgba($on-surface-primary, 0.04);
          }
        }
        &:focus {
          &:before {
            background-color: rgba($on-surface-primary, 0.12);
          }
        }
      }
      &__icon {
        display: inline-flex;
        margin-left: 0;
        margin-right: 16px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba(0,0,0,.3);
        color: #fff;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        z-index: -1;
      }
      &__text {
        display: inline-flex;
        flex-direction: column;
      }
      &__primary-text {
        font-size: 16px;
        font-weight: 400;
        color: $on-surface-primary;
        margin-bottom: -5px;
      }
      &__secondary-text {
        font-size: 14px;
        font-weight: 400;
        color: $on-surface-secondary;
      }
    }
  }
}












// 14. Footer styles
// =============================================================================

.footer {
  background-color: #fff;
  padding: 20px;
  &__text {
    color: $on-surface-primary;
    font-size: 12px;
    @media #{$medium-and-up} {
      font-size: 14px;
    }
  }
  &__to-top {
    color: $secondary;
  }
}


// 15. Animations
// =============================================================================

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-name: bounceIn;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes shine {
	100% {
		left: calc(139% + 50%);
	}
}