// Base card
.card {
    border-radius: 1rem;
    overflow: hidden;
    margin: 0;
    .card-title {
        color: $on-surface-primary;
        font-weight: 500;
        margin-bottom: 0;
    }
    .card-subtitle {
        color: $on-surface-secondary;
        font-weight: 500;
        margin-bottom: 0;
    }
    .card-secondary {
        color: $on-surface-secondary;
    }
    .card-overflow-control {
        border-radius: 0;
        position: absolute;
        top: 0;
        right: 0;
    }
    .card-reveal {
        padding: 0;
    }
}

// Basic card
.basic-card {
    .card-primary {
        padding: 2rem 2rem 0 2rem;
    }
    .card-secondary {
        padding: 1rem 2rem 2rem 2rem;
    }
    .card-excerpt {
        font-size: 1rem;
    }
    .card-action {
        padding: 1.5rem;
    }
    .card-action-links {
        a {
            font-size: 1rem;
            margin-right: .5rem !important;
            &:last-child {
                margin-right: 0 !important;
            }
        }
    }
}

// Horizontal card
.horizontal-card {
    padding-left: calc(2rem + 48px);
    .card-image {
        width: 48px;
        height: 48px;
        object-fit: cover;
        height: auto;
        position: absolute;
        left: 2rem;
        top: 2rem;
        display: block;
        overflow: hidden;
        transition: transform .2s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
    .card-primary {
        padding: 2rem 2rem 0 2rem;
    }
    .card-secondary {
        padding: 1rem 2rem 2rem 2rem;
    }
}

// Lead card
.lead-card {
    .card-primary {
        padding: 2rem 2rem 0 2rem;
    }
    .card-title {
        font-family: $font-stack-secondary;
        color: $secondary;
        span {
            color: $on-surface-primary;
        }
    }
    .card-subtitle {
        font-family: $font-stack-secondary;
    }
    .card-secondary {
        padding: 1rem 2rem;
    }
    .card-action {
        padding: 1.125rem 2rem 1.125rem 1.5rem;
    }
    .card-action-links {
        a {
            font-size: 1rem;
            margin-right: .5rem !important;
            &:last-child {
                margin-right: 0 !important;
            }
        }
    }
    .card-action-icons {
        a {
            border: 1px solid rgba(160, 160, 160, 0.2);
            margin-right: .5rem !important;
            &:last-child {
                margin-right: 0 !important;
            }
        }
    }
    &__cta {
        padding: 0 2rem 2rem 2rem;
    }
    .card-reveal {
        .card-title {
            color: $on-surface-primary;
        }
    }
}