// Base card
.card {
    border-radius: 0 16px 0 16px;
    overflow: hidden;
    margin: 0;

    .card-content {
        padding: 0;
        width: 100%;
        outline: none;
        position: relative;
    }

    .card-primary {
        .card-title {
            color: $on-surface-secondary;
            font-weight: 500;
            margin-bottom: 0;
            line-height: 1.5;
            font-size: 20px;
            color: $on-surface-primary;
        }

        .card-subtitle {
            color: $on-surface-secondary;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 0;
        }
    }

    .card-secondary {
        padding: 0 16px 16px;
        color: $on-surface-secondary;
        font-size: 14px;
        line-height: 1.5;
    }

    .card-action {
        padding: 8px;
    }

    .card-action-links {
        a {
            font-size: 14px;
            margin-right: 8px !important;

            &:last-child {
                margin-right: 0 !important;
            }
        }
    }

    .card-action-icons {
        a {
            margin-right: 0 !important;
        }
    }

    .card-overflow-control {
        position: absolute;
        top: 8px;
        right: 8px;
    }

    .card-reveal {
        padding: 0;

        .card-title {
            color: $on-surface-secondary;
            font-weight: 500;
            margin-bottom: 0;
            line-height: 1.5;
            font-size: 20px;
            color: $on-surface-primary;
        }
    }
}

// Basic card
.basic-card {
    @extend .card;

    &__primary {
        padding: 16px;
    }
}

// Lead card
.lead-card {
    @extend .card;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border: none;

    &__main {
        display: flex;
    }

    &__media {
        img {
            display: block;
            width: 100%;
            height: auto;
            border-radius: 0 16px 0 16px;
        }
        @media #{$medium-and-up} {
            margin-left: 16px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .lead-card__primary {
            padding: 16px;

            .lead-card__title {
                font-family: $font-stack-secondary;
                color: $secondary;
                font-size: calc(32px + (40 - 32) * ((100vw - 320px) / (1920 - 320)));
                font-weight: 500;
                line-height: 1.2;
                display: inline-block;
                margin-right: 40px;

                span {
                    color: $on-surface-primary;
                }
            }

            .lead-card__subtitle {
                font-family: $font-stack-secondary;
                font-size: calc(24px + (28 - 24) * ((100vw - 320px) / (1920 - 320)));
                font-weight: 500;
                color: $on-surface-secondary;
                line-height: 1.5;
            }
        }

        .lead-card__secondary {
            font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
            line-height: 1.5;
            display: none;

            @media #{$extra-large-and-up} {
                display: block;
            }
        }

        .lead-card__cta {
            padding: 25px 16px 30px 16px;
        }

        .lead-card__overflow-control {
            top: 15px;
        }
    }

    &__reveal {
        p {
            font-size: 16px;
            margin-bottom: 1rem;
        }
    }

    &__primary {
        padding: 16px;
    }
}

// Horizontal card
.horizontal-card {
    @extend .card;
    padding-left: 58px;

    &__primary {
        padding: 16px 64px 16px 16px;
    }

    img {
        width: 42px;
        position: absolute;
        left: 16px;
        top: 22px;
        display: inline-block;
        overflow: hidden;
        transition: transform .2s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}