.contact-section {
    padding-bottom: $section-spacing;
    margin-top: $section-spacing;
    background: $background-secondary;

    &__right.col {
        padding: 0;

        @media #{$large-and-up} {
            padding: 0 12px;
        }
    }

    &__title {
        color: $on-background-secondary;
    }

    &__text {
        color: $on-background-secondary;
        text-align: left;
        margin-bottom: 32px;
        font-size: 16px;
    }
}

.form {
    &__submit {
        margin: 30px 0 34px 0;

        @media #{$large-and-up} {
            margin: 30px 0 0 0;
        }
    }

    &__required-text {
        min-height: 18px;
        font-size: 12px;
        color: rgba($on-background-secondary, 0.6);
    }

    &__consent {
        border: 1px solid rgba(255, 255, 255, .6);
        padding: 1rem;
        border-radius: 0 16px 0 16px;
        margin-top: 10px;

        span {
            color: $on-background-secondary;

            a {
                color: $secondary;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
    border-bottom: 1px solid rgba($on-background-secondary, 0.6);

    // Focused input style
    &:focus:not([readonly]) {
        border-bottom: 1px solid $secondary;
        box-shadow: 0 1px 0 0 $secondary;
    }

    // Focused label style
    &:focus:not([readonly])+label {
        color: $secondary;
    }
}

.input-field.col {
    input {
        height: 34px;
    }

    input,
    textarea {
        color: $on-background-secondary;
    }

    textarea {
        height: 81px;

        &.valid {
            border-bottom: 1px solid #4caf50;
            box-shadow: 0 1px 0 0 #4caf50;
        }

        &.invalid {
            border-bottom: 1px solid #f44336;
            box-shadow: 0 1px 0 0 #f44336;
        }
    }

    label {
        font-size: 16px;
        top: -5px;
        color: rgba($on-background-secondary, 0.6);
    }
}

.contact-links {
    &__title {
        display: flex;
        align-items: center;
        padding: 0 16px;
        height: 72px;
        color: $on-surface-primary;
    }

    &-list {
        &__divider {
            height: 0;
            margin: 0;
            border: none;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: rgba($on-background-secondary, 0.25);
        }

        &-item {
            height: 72px;
            display: flex;
            position: relative;

            &__link {
                display: flex;
                align-items: center;
                width: 100%;
                padding: 0 12px;
                z-index: 1;

                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($on-surface-primary, 0);
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: opacity 15ms linear, background-color 15ms linear;
                    z-index: 1;
                }

                &:hover {
                    &::before {
                        background-color: rgba($on-surface-primary, 0.04);
                    }
                }

                &:focus {
                    i {
                        background-color: $secondary;
                    }

                    &::before {
                        background-color: rgba($on-surface-primary, 0.12);
                    }
                }

                @media #{$large-and-up} {
                    padding: 0 16px;
                }
            }

            &__icon {
                display: inline-flex;
                margin-left: 0;
                margin-right: 16px;
                width: 40px;
                height: 40px;
                background-color: $secondary;
                border-radius: 50%;
                color: $on-secondary;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 18px;
                z-index: -1;
            }

            &__text {
                display: inline-flex;
                flex-direction: column;
            }

            &__primary-text {
                font-size: 16px;
                font-weight: 500;
                color: $on-background-secondary;
                margin-bottom: -5px;
            }

            &__secondary-text {
                font-size: 14px;
                font-weight: 400;
                color: $on-background-secondary;
            }
        }
    }
}