// Override Materialize variables
$button-raised-background: $secondary;
$card-link-color: $secondary;
$card-link-color-light: rgba($on-primary, 0.70);
$radio-empty-color: #fff;
$card-bg-color: $surface;
$secondary-color: $secondary;