// Waves for icon buttons
.waves-effect.waves-icon-btn .waves-ripple {
    background-color: rgba($on-surface-secondary, 0.16);
}

// Wave for sidenav trigger
.waves-effect.waves-sidenav-btn .waves-ripple {
    background-color: rgba($on-primary, 0.16);
}

// Waves for surfaces
.waves-effect.waves-surface .waves-ripple {
    background-color: rgba($on-surface-primary, 0.16);
}

// Waves for text buttons
.waves-effect.waves-text-btn .waves-ripple {
    background-color: rgba($secondary, 0.16);
}

// Waves for text buttons on background
.waves-effect.waves-text-btn-on-background .waves-ripples {
    background-color: rgba($on-background, 0.16);
}

// Waves for outlined buttons
.waves-effect.waves-outlined-btn .waves-ripple {
    background-color: rgba($secondary, 0.16);
}

// Waves for contained buttons
.waves-effect.waves-contained-btn .waves-ripple {
    background-color: rgba($on-secondary, 0.32);
}